.weatherContainer {
	display: flex;
	flex-direction: right;
	justify-content: space-around;
}

.weather {
	border: 1px solid lime;
	list-style: none;
	/*padding: 10px;*/
	background-color: white;
	color: #723D99;
}