.weatherContainer {
	display: flex;
	flex-direction: right;
	justify-content: center;
}

.weather {
	border: 4px solid white;
	list-style: none;
	background-color: white;
	color: #723D99;
	padding: 5px;
	margin-right: 10px;
}