.current {
	background-color: lime;
	color: black;
}

span {
	cursor: pointer;
}

/*body {
	background-color: indigo;
	color: white;
}*/

.login-error {
	border: 1px solid red;
	padding: 20px;
	background-color: pink;
}